<div class="container">

    <form action="/home/create" method="post">
      <div class="form-group">
        <label for="exampleInputEmail1">제목</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="title">
      </div>
      <button type="submit" class="btn btn-default">제출</button>
    </form>
    
    <% @posts.each do |p| %>
        <div class="well">
            <%= p.title %>
            <%= p.id %>
              <div class="form-group">
                <label for="exampleInputEmail1">댓글</label>
                <input type="hidden" class="form-control" value="<%=p.id%>" name="post_id">
                <input type="text" class="form-control" id="reply_<%=p.id%>" name="content">
              </div>
              <button value="<%=p.id%>" type="submit" class="btn btn-default reply_submit">제출</button>
              <div id="replies_<%=p.id%>">
                <% p.replies.each do |r| %>
                    <p><%= r.content %> / <%= r.id %></p>
                <% end %>
              </div>
        </div>
    <% end %>
</div>
<script>
$(".reply_submit").click(function(){
  post_id = this.value;
  reply_content = $("#reply_" + post_id).val();
  alert(reply_content);
    $.ajax({
      method: "POST",
      url: "home/create_reply",
      data: { content: reply_content, post_id:post_id},
      success: function(){
        alert("s");
        $("#replies_" + post_id).append("<p>"+reply_content+"</p>");
        $("#reply_" + post_id).val("")
      },
      error: function(){
        alert("f");
      }
    })
});
</script>
